*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(25, 108, 81);
}
.container{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.box{
  background-color: #fff;
  width: 39rem;
  height: 6rem;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.input{}
.label{
  width: 7rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.label::after{
  content: '';
  z-index: -1;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  position: absolute;
  background-color: #fff;
  top: 0px;
  transition: all 0.3s ease;
}
.icon{
  font-size: 2.5rem;
  color: #6520a5;
  position: relative;
  z-index: 10;
  transition: transform 0.4s ease;
}
.box input:checked + label i{
  color: #fff;
}
.box input:checked + label::before{
  content: '';
  z-index: 5;
  position: absolute;
  background-color: #6520a5;
  color: #fff;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  transition: transform 0.4s ease;
  box-shadow: 0 5rem 7rem rgba(0, 0, 0, 0.6);
}
.box input:checked + label::after{
  top: -22px;
}
.box input:checked + label i, .box input:checked + label::before{
  transform: translateY(-12px);
}
@media screen and (max-width:400px) {
  .box{
    width: 23rem;
  }
  .icon{
    font-size: 1.5rem;
  }
  .box input:checked + label::before{
    width: 50px;
    height: 50px;
  }
}