.footer{
    grid-column: 1/7;
    background-color: whitesmoke;
    margin: 1px 0px;
    border-top: 1px solid black;
}
.section-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 7px;
    padding: 35px;
    text-align: center;
}
.footer-title{
    color: orange;
}
.telegram, .whatsapp, .youtube{
    transition: all 0.4s;
}
.copy{
    margin-top: 1rem;
    font-size: 12px;
    text-align: center;
}
.copy-text{
    color: orange
}
ul{
    list-style: none;
}
li{
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.4s;
}
li:hover{
    color: orange;
}
.telegram:hover{
    color: rgba(0, 0, 253, 0.918);
}
.whatsapp:hover{
    color: rgba(66, 226, 66, 0.979);
}
.youtube:hover{
    color: red;
}
@media screen and (max-width : 557px) {
    .footer-section{
        text-align: start;
    }
}