*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e8e8e8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.circle-1{
    width: 1000px;
    height: 1000px;
    position: fixed;
    background-image: linear-gradient(to right, #94a3c2, #596888);
    z-index: -1;
    border-radius: 100%;
    left: -9rem;
    top: 54%;
    transform: translateY(-38%);
}
.box{
    max-width: 1200px;
    width: 81%;
    height: 600px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 5px solid #fff;
    overflow: hidden;
}
.left-box{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(22px);
}
.title-left{
    color: #fff;
    margin-bottom: 3rem;
}
.user-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 50%;
}
.label{
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #fff;
}
.input{
    border: 2px solid #fff;
    background: transparent;
    height: 45px;
    border-radius: 20px;
    outline: 0;
}
.btn{
    width: 50%;
    border-radius: 20px;
    height: 45px;
    border: none;
    margin-bottom: 2rem;
    background-color: #fff;
}
.botttom-text{
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}
.right-box{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.right-box-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
}
@media screen and (max-width:772px) {
    .right-box{
        display: none;
    }
    .left-box{
        width: 100%;
    }
    .user-group{
        width: 80%;
    }
    .btn{
        width: 80%;
    }
}