*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f8fd;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.section-nav{
    display: grid;
    grid-template-columns: 10% 45% 25%;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
    padding: 1rem 2rem;
    align-items: center;
}
.left-nav{
    display: flex;
    align-items: center;
}
.img-logo{
    min-width: 50px;
}
.center-nav{}
.links, .links-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-item:first-child, .link-item-mobile:first-child{
    background-image: linear-gradient(71deg, #3ac2ff 50%, #2f56ff);
    padding: 12px;
    border-radius: 22px;
    font-weight: bold;
}
.right-nav{
    display: flex;
    align-items: center;
    justify-content: end;
}
.group_icon{
    display: flex;
    gap: 2.5rem;
    align-items: center;
    margin-right: 2rem;
}
.user-section{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.status-text{
    width: 67px;
    padding: 0.4em;
    background-color: #edfdfa;
    text-align: center;
    border-radius: 3px;
    color: #1f927f;
}
.profile-image{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
#toggle-nav:checked + label + ul {
    transform: translateX(0);
}
#toggle-nav:checked + label span:first-child{
    transform: rotate(127deg);
    position: relative;
    top: -4px;
}
#toggle-nav:checked + label span.line-mid{
    transform: translateX(10px);
    opacity: 0;
}
#toggle-nav:checked + label span:last-child{
    position: relative;
    top: -15px;
    transform: rotate(58deg);
}
@media screen and (max-width:1000px) {
    .img-logo{
        min-width: 36px;
    }
    .left-nav{
        font-size: 0.9rem;
    }
    .link-item, .link-item-mobile{
        font-size: 0.8rem;
    }
    .link-item:first-child, .link-item-mobile:first-child{
        padding: 6px;
    }
    .group_icon svg{
        width: 13px;
    }
    .status-text{
        width: 57px;
        padding: 0.2rem;
        font-size: 0.8rem;
    }
    .profile-image{
        width: 40px;
        height: 40px;
    }
    .section-nav{
        grid-template-columns: 3% 42% 24%;
    }
}
@media screen and (min-width:768px) {
    .nav-mobile{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .center-nav{
        display: none;
        justify-content: space-between;
    }
    .links-moblie{
        display: flex;
        position: fixed;
        left: 0;
        background-color: #fff;
        height: 100%;
        top: 0;
        width: 200px;
        transform: translateX(-350px);
        transition: all 250ms ease-out;
        padding: 2rem 0 2rem 2rem;
        flex-direction: column;
        gap: 2.5rem;
        text-align: left;
        overflow-x: hidden;
    }
    .line{
        border-bottom: 2px solid;
        width: 14px;
        display: block;
        margin-bottom: 3px;
        transition: all 260ms ease-out;
    }
    .section-nav{
        grid-template-columns: 3% 89% 3%;
    }
    .lable-nav{
        position: relative;
        top: 10px;
    }
    .profile-image{
      min-width: 27px;  
    }
    .left-nav{
        font-size: 0.5rem;
    }
    .group_icon svg{
        width: 10px;
    }
    .group_icon{
        gap: 1.4rem;
        margin-right: 1rem;
    }
    .status-text{
        width: 46px;
        font-size: 0.5rem;
    }
    .section-nav{
        padding: 1rem;
    }
}