*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f8fd;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
.section-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
    padding: 1rem 2rem;
    align-items: center;
}
.left-nav{
    display: flex;
    align-items: center;
}
.img-logo{
    min-width: 50px;
    height: 100%;
}
.center-nav{
    width: 50%;
}
.center-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.group_icon{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.user-section{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.status-text{}
.profile-image{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}